body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;
}

/* Disable user select text */
.unable-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Clearfix */
.clearfix:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
}

/* Overwrite Domino Default Style */
/* @formatter:off */
.field-group .field-note {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.field-group input, .field-group textarea {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.field-group .field-postfix {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.d-checkbox .field-label {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.field-group textarea {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.radio-option:not(.checked) label, .radio-option.checked label {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.switch label {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.navbar {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.sidebar {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.popover {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
.tooltip {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "AlibabaPuHuiTi-3-55-Regular", Tahoma, Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
/* Solve the problem of black dot spacing in password input boxes */
input[type=password] {font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", Tahoma, "AlibabaPuHuiTi-3-55-Regular", Consolas, Arial, "Microsoft YaHei", "微软雅黑", "sans-serif" !important;}
/* Hide default checkbox */
.d-checkbox:not(.checked) input[type="checkbox"], .d-checkbox.checked input[type="checkbox"] {display: none;}
.field-group label.error {margin-top: 0;}
/* @formatter:on */

/* ===================================================================================================== */
/*                                               Register                                                */
/* ===================================================================================================== */


/* ===================================================================================================== */
/*                                                Login                                                  */
/* ===================================================================================================== */

.login-page {
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  min-width: 1200px;
  min-height: 900px;
}

.login-header {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.login-header a {
  margin-left: 0;
  text-decoration: none;
  cursor: pointer;
}

.login-header a img {
  width: 238px;
  height: 69px;
}

#login-content {
  height: 590px;
  margin-top: 43px;
}

.login-content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.login-content .login-carousel {
  flex: 1;
  height: 470px;
  margin-right: 100px;
}

.login-content .login-carousel .carousel img {
  height: 470px;
}

.login-content .login-form {
  width: 420px;
  height: 470px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 25px;
  background: #fff;
  box-shadow: 0 6px 20px 0 rgba(37, 43, 50, .07);
}

.login-content .login-form > div:first-child {
  margin: 20px 0 0;
}

.login-content .login-form > div:first-child > h1:first-child {
  display: flex;
  justify-content: center;
  color: #717171;
}

.login-content .login-form .login-form-username {
  margin-top: 40px;
  height: 64px;
}

.login-content .login-form .login-form-username > div:first-child {
  height: 48px;
  padding: 0 16px;
  background-color: #f2f2f2;
  border: 1px solid transparent !important;
  border-radius: 8px;
}

.login-content .login-form .login-form-username > div:nth-child(2) {
  height: 16px;
}

.login-content .login-form .login-form-username > div:first-child input {
  height: 46px;
}

.login-content .login-form .login-form-password {
  height: 64px;
}

.login-content .login-form .login-form-password > div:first-child {
  height: 48px;
  padding: 0 16px;
  background-color: #f2f2f2;
  border: 1px solid transparent !important;
  border-radius: 8px;
}

.login-content .login-form .login-form-password > div:nth-child(2) {
  height: 16px;
}

.login-content .login-form .login-form-password > div:first-child input {
  height: 46px;
}

.login-content .login-form .login-form-captcha-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-content .login-form .login-form-captcha {
  width: 234px;
  height: 64px;
}

.login-content .login-form .login-form-captcha > div:first-child {
  height: 48px;
  padding: 0 16px;
  background-color: #f2f2f2;
  border: 1px solid transparent !important;
  border-radius: 8px;
}

.login-content .login-form .login-form-captcha > div:nth-child(2) {
  height: 16px;
}

.login-content .login-form .login-form-captcha > div:first-child input {
  height: 46px;
  text-transform: uppercase;
}

.login-content .login-form .login-form-captcha-img {
  width: 120px;
  height: 40px;
  margin-top: 4px;
}

.login-content .login-form .login-form-remember-forget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.login-content .login-form .login-form-remember-forget .d-checkbox .field-label {
  display: inline;
  top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.login-content .login-form .login-form-remember-forget .field-group.d-checkbox.floating .field-label {
  top: 0;
}

.login-content .login-form .login-form-remember-me {
  /* margin: 0; */
}

.login-content .login-form .login-form-remember-me > div:first-child {
  padding-left: 0;
}

.login-content .login-form .login-form-remember-me label {
  line-height: normal;
}

.login-content .login-form .login-form-forget-password {
  color: #626262;
  font-size: 14px;
}

.login-content .login-form .login-form-submit {
  height: 48px;
  background-color: #CA141D;
  border: 1px solid #CA141D;
  color: #fff;
  font-size: 1.8rem !important;
  border-radius: 8px !important;
  -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
}

.login-footer {
  padding: 17px 0 50px;
}

.login-footer .login-footer-links {
  text-align: center;
  line-height: 20px;
  padding: 25px 0 17px 0;
  color: #8c8c8c;
  font-size: 14px;
}

.login-footer .login-footer-links a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.login-footer .login-footer-links a:hover {
  color: #f48570;
  text-decoration: underline;
}

.login-footer .login-footer-links span {
  margin: 0 17px 0 19px;
}

.login-footer .login-footer-copyright {
  line-height: 20px;
  text-align: center;
  width: 960px;
  margin: 10px auto 0 auto;
  color: #8c8c8c;
  font-size: 14px;
}

@media only screen and (max-width: 1300px) {
  .login-header a {
    margin-left: 50px;
  }

  .login-content .login-carousel {
    width: 680px;
    margin-left: 50px;
    margin-right: 0;
  }

  .login-content .login-form {
    margin-right: 50px;
  }
}

@media only screen and (max-height: 800px) {
  #login-content {
    margin-top: 0;
  }
}

/* ===================================================================================================== */
/*                                                Layout                                                 */
/* ===================================================================================================== */

.app-layout {
  width: 100%;
  height: 100%;
}

.app-layout > div:first-child {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  /* min-height: 600px; */
  font-size: 14px;
  letter-spacing: 0;
  background-color: #f2f2f2;
  cursor: default;
  color: #000;
  outline: 0;
}

/* ===================================================================================================== */
/*                                                Layout - Header                                        */
/* ===================================================================================================== */

.layout-header {
  /* -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
  /* -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
  /* -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
  height: 70px;
}

.layout-header .layout-header-container {
  margin: 0 30px;
}

.layout-header .layout-header-logo img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

.layout-header .layout-header-title {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 8px;
  font-size: 20px;
}

.layout-header .layout-header-toolbar {
}

.layout-header .layout-header-avatar {
  display: flex;
}

.layout-header .layout-header-avatar > img {
  width: 40px;
  height: 40px;
  margin: 15px 0;
  border-radius: 100%;
  overflow: hidden;
}

.layout-header .layout-header-avatar > img:before {
  content: attr(alt);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 40px;
  line-break: anywhere;
  text-transform: uppercase;
  background-color: #7ECBC1;
  color: #fff;
}

/* ===================================================================================================== */
/*                                                Layout - Body                                          */
/* ===================================================================================================== */

.layout-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-width: 1px 0;
  border-style: solid;
  border-color: #cdcdcd;
}

/* ===================================================================================================== */
/*                                                Layout - Body Main                                     */
/* ===================================================================================================== */

.layout-body-main {
  flex: 1;
  display: flex;
  width: 100%;
}

/* ===================================================================================================== */
/*                                                Layout - Left Sidebar                                  */
/* ===================================================================================================== */

.layout-body-main .layout-left-sidebar {
  display: flex;
  transition: .3s;
}

.layout-body-main .layout-left-sidebar ul {
  width: 30px;
  height: 100%;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.layout-body-main .layout-left-sidebar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 8px 5px;
  overflow: hidden;
  cursor: pointer;
}

.layout-body-main .layout-left-sidebar ul li span {
  line-height: 16px;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  /* transform-origin: 7px 9px; */
}

.layout-body-main .layout-left-sidebar ul li i {
  font-size: 18px;
  margin-top: 5px;
}

.layout-body-main .layout-left-sidebar ul li:hover {
  background-color: #d9d9d9;
}

.layout-body-main .layout-left-sidebar ul li.selected {
  background-color: #bdbdbd;
}

/* ===================================================================================================== */
/*                                                Layout - Right Sidebar                                 */
/* ===================================================================================================== */

.layout-body-main .layout-right-sidebar {
  display: flex;
  flex-direction: row-reverse;
  transition: .3s;
}

.layout-body-main .layout-right-sidebar ul {
  width: 30px;
  height: 100%;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.layout-body-main .layout-right-sidebar ul li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 8px 5px;
  overflow: hidden;
  cursor: pointer;
}

.layout-body-main .layout-right-sidebar ul li span {
  line-height: 16px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  /* transform-origin: 7px 9px; */
}

.layout-body-main .layout-right-sidebar ul li i {
  font-size: 18px;
  margin-top: 5px;
}

.layout-body-main .layout-right-sidebar ul li:hover {
  background-color: #d9d9d9;
}

.layout-body-main .layout-right-sidebar ul li.selected {
  background-color: #bdbdbd;
}

/* ===================================================================================================== */
/*                                                Layout - Middle Container                              */
/* ===================================================================================================== */

.layout-body-main .layout-middle-container {
  flex: 1;
  display: flex;
  overflow: auto;
  border-width: 0 1px;
  border-style: solid;
  border-color: #cdcdcd;
}

/* ===================================================================================================== */
/*                                                Layout - Left Panel                                    */
/* ===================================================================================================== */

.layout-middle-container .layout-left-panel {
  display: flex;
  overflow: auto;
}

.layout-middle-container .layout-left-panel > div {
  flex: 1;
  display: flex;
  overflow: auto;
  background-color: #fff;
}

.layout-middle-container .layout-left-panel > div > div:first-child {
  width: 350px;
}

.layout-middle-container .layout-left-panel > div > div:nth-child(2) {
  width: 10px;
  cursor: ew-resize;
  z-index: 99;
  border-right: 1px solid #c0c0c0;
}

/* ===================================================================================================== */
/*                                                Layout - Content                                       */
/* ===================================================================================================== */

.layout-middle-container .layout-content {
  flex: 1;
  overflow: hidden;
}

.layout-middle-container .layout-content > div {
}

/* ===================================================================================================== */
/*                                                Layout - Right Panel                                   */
/* ===================================================================================================== */

.layout-middle-container .layout-right-panel {
  display: flex;
  overflow: auto;
}

.layout-middle-container .layout-right-panel > div {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
  background-color: #fff;
}

.layout-middle-container .layout-right-panel > div > div:first-child {
  width: 350px;
}

.layout-middle-container .layout-right-panel > div > div:nth-child(2) {
  width: 10px;
  cursor: ew-resize;
  z-index: 99;
  border-left: 1px solid #c0c0c0;
}

/* ===================================================================================================== */
/*                                                Layout - Bottom Toolbar                                */
/* ===================================================================================================== */

.layout-bottom-toolbar {
  display: flex;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-toolbar {
  display: flex;
  justify-content: space-between;
  height: 31px;
  padding: 0 30px;
  border-top: 1px solid #cdcdcd;
}


.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-toolbar ul {
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-toolbar ul li {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0;
  padding: 0 8px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-toolbar ul li span {
  line-height: 16px;
  margin-top: -3px;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-toolbar ul li i {
  font-size: 18px;
  margin-top: 3px;
  margin-right: 5px;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-toolbar ul li:hover {
  background-color: #d9d9d9;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-toolbar ul li.selected {
  background-color: #bdbdbd;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-panel {
  flex: 1;
  display: flex;
  margin: 0 30px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #cdcdcd;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-panel > div {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  background-color: #fff;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-panel > div > div:first-child {
  height: 350px;
}

.layout-bottom-toolbar .layout-bottom-toolbar-container .lbt-panel > div > div:nth-child(2) {
  height: 10px;
  cursor: ns-resize;
  z-index: 99;
  border-top: 1px solid #c0c0c0;
}

/* ===================================================================================================== */
/*                                                Layout - Footer                                        */
/* ===================================================================================================== */

.layout-footer {
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}

.layout-footer .layout-footer-container {
  display: flex;
  margin: 0 10px;
  height: 100%;
}

.layout-footer .layout-footer-left {
}

.layout-footer .layout-footer-middle {
  flex: 1;
  text-align: center;
}

.layout-footer .layout-footer-right {
}
