/* ===================================================================================================== */
/*                                                Indigo                                                 */
/* ===================================================================================================== */

.theme-indigo .layout-header {
  background-color: #3F51B5;
  color: #fff;
  /* background-color: #efefef; */
  /* color: #b2b2b2; */
}

.theme-indigo .layout-body .layout-left-sidebar {
  background-color: #efefef;
  color: #444;
}

.theme-indigo .layout-body .layout-right-sidebar {
  background-color: #efefef;
  color: #444;
}

.theme-indigo .layout-body .layout-bottom-toolbar {
  background-color: #efefef;
  color: #444;
}

.theme-indigo .layout-footer {
  background-color: #efefef;
  color: #444;
}


/* ------------------------------------------- todo -------------------------------------------- */


.theme-indigo .nav .open > a {
  background-color: transparent;
}

.theme-indigo .nav .open > a:hover {
  background-color: transparent;
}

.theme-indigo .nav .open > a:focus {
  background-color: transparent;
}

.theme-indigo .menu .list li.active {
  background-color: transparent;
}

.theme-indigo .menu .list li.active > :first-child i,
.theme-indigo .menu .list li.active > :first-child span {
  color: #3F51B5;
}

.theme-indigo .menu .list .toggled {
  background-color: transparent;
}

.theme-indigo .menu .list .ml-tree {
  background-color: transparent;
}

.theme-indigo .sidebar .legal {
  background-color: #fff;
}

.theme-indigo .sidebar .legal .copyright a {
  color: #3F51B5 !important;
}

.theme-indigo .waves-effect.waves-theme .waves-ripple {
  background: rgba(63, 81, 181, 0.5);
}

.theme-indigo .col-theme {
  color: #3F51B5 !important;
}

.theme-indigo .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #3F51B5;
  border: 2px solid #3F51B5;
}
